.main.container{
  margin-top: 7em;
}

#formInline{
  display: inline
}

a{
  color: black;
}

a:hover{
  color: grey;
}

.floatRight{
  float: right;
}

.delete:hover{
  color:red;
}

.description{
  margin: 25px auto;
}

.strikethrough{
  text-decoration: line-through;
}
