.row{

  @mixin clearfix;

  &--t-padding{
    padding-top: 80px;
  }

  &--gutters{
    margin-right: -65px;
  }

  &--gutters-large{
    margin-right: -100px;
  }

  &--gutters-small{
    margin-right: -45px;
  }

  &--gutters > div {
    padding-right: 65px;
  }

  &--gutters-large > div {
    padding-right: 100px;
  }

  &--gutters-small > div {
    padding-right: 45px;
  }

  &__b-margin-until-medium{
    margin-bottom: 1rem;
  }

  @mixin atMedium{

    &__b-margin-until-medium{
      margin-bottom: 0;
    }

    &__medium__4{
      float: left;
      width: 33.33%;
    }

    &__medium__4--larger{
      width: 37%;
    }

    &__medium__6{
      float: left;
      width: 50%;
    }

    &__medium__8{
      float: left;
      width: 66.66%;
    }

    &__medium__8--smaller{
      width: 63%;
    }
  }

  @mixin atLarge{

    &__b-margin-until-large{
      margin-bottom: 0;
    }

    &__large__4{
      float: left;
      width: 33.33%;
    }

    &__large__4--larger{
      width: 37%;
    }

    &__large__6{
      float: left;
      width: 50%;
    }

    &__large__8{
      float: left;
      width: 66.66%;
    }

    &__large__8--smaller{
      width: 63%;
    }
  }

/* Begin Equal Height Rules */
  &--equal-height-at-medium{
  @mixin atMedium{
    display: flex;
    }

    & > div {
      float:none;
      display: flex;
    }
  }

  &--equal-height-at-large{
  @mixin atLarge{
    display: flex;
    }

    & > div {
      float:none;
      display: flex;
    }
  }

}
